version: 2.1
orbs:
  macos: circleci/macos@1.0.0
  python: circleci/python@1.0.0

jobs:
  build-test:
    macos:
      xcode: 11.7.0
    steps:
      - checkout
      - python/install-packages:
          args: hererocks
          pkg-manager: pip
      - run: hererocks here -r^ --lua 5.4
      - macos/list-permission-types

workflows:
  verify:
    jobs:
      - build-test
