version: 2.1
orbs:
  macos: circleci/macos@1.0.0

jobs:
  build-test:
    macos:
      xcode: 11.1.0
    steps:
      - checkout
      - macos/add-uitest-permissions

      - macos/add-permission:
          bundle-id: "org.hammerspoon.Hammerspoon"
          permission-type: "kTCCServiceAppleEvents"

      - macos/add-permission:
          bundle-id: "org.hammerspoon.Hammerspoon"
          permission-type: "kTCCServiceAccessibility"

      - macos/add-permission:
          bundle-id: "com.google.Chrome"
          permission-type: "kTCCServiceAppleEvents"

      - macos/add-permission:
          bundle-id: "com.google.Chrome"
          permission-type: "kTCCServiceAccessibility"

      - run:
          name: Setting /usr/bin/osascript permissions
          command: bin/ci-permissions

      - macos/list-permissions

      # Lua setup
      # - run: pip3 install hererocks
      # - run: hererocks $HOME/here -r^ --lua 5.4
      # - run: echo "export PATH=$PATH:$HOME/here/bin" >> ~/.bash_profile
      # - run: echo 'eval `luarocks path --bin`' >> ~/.bash_profile
      # - run: bin/dev-setup

      # # Run lua tests
      # - run: busted -c

      # Integration test setup
      - run: bin/ci-config
      - run: cat $HOME/.hammerspoon/init.lua

      - run: echo 'chruby ruby-2.6' >> ~/.bash_profile
      - run: gem install bundler
      - run: bundle install
      - run: brew cask install chromedriver
      - run: brew cask install google-chrome
      - run: brew cask install hammerspoon

      # Run integration tests
      - run: bundle exec rspec spec

workflows:
  verify:
    jobs:
      - build-test
